@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
}
.scroll-x--rows-2 {
  display: grid; /* Establishes the grid layout */
  grid-template-rows: auto auto; /* Creates two rows with flexible heights */
  grid-auto-flow: column; /* Arranges items as columns */
  overflow-x: scroll; /* Enables horizontal scrolling */
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ee5626;
  border-radius: 5px;
}
